[user]
	name = Adam Love
	email = adam.love127@gmail.com
  username = itsadamlove
[url "ssh://git@heroku.com/"]
	insteadOf = https://git.heroku.com/
[core]
       excludesfile = ~/.gitignore
[push]
       default = matching
[alias]
       s = status
       st = stash
       di = diff
       dh = diff HEAD^
       co = commit -m
       ch = checkout
       a = add
       f = flow
       hr = reset HEAD^ --hard
       pt = push --tags
